.navi {
  display: flex;
  background-color: rgb(134, 69, 255);
  background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(58, 9, 121, 1) 35%, rgba(255, 0, 189, 0.6558998599439776) 100%);
  width: 220px;
  height: 740px;
  flex-direction: column;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  text-align: center; 
  
}


nav ul {
  
  margin-top: 40px;
  padding-top: 10px;       
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  font-size: 25px;    
  font-style: normal;
  height: 80px;    
  border-radius: 15px 0px 0px 15px;
  list-style: none;    
  line-height: 80px;
  color: rgb(255, 255, 255);

}

nav ul li{
  flex-grow: 1;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  padding:20px;
  padding-left: 0px;
  
  
}

nav ul li a:hover {   
 
  background: linear-gradient(135deg, rgba(253, 117, 255, 0.519) 0%, rgba(221, 70, 255, 0.53) 5%, rgba(251, 166, 255, 0.5242471988795518) 100%);
  border-radius: 15px 0px 0px 15px;
  padding: 23px;
  padding-left: 35px;

}

nav ul li a.activo {   
 
  background-color: rgb(175, 77, 255);
  border-radius: 15px 0px 0px 15px;
  padding: 25px;
  padding-left: 35px;

}



.header{
  display:flex;
  flex-direction:column;    
  background-color: rgb(175, 78, 255);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height:250px;
  width: 1280px;   

}


.cabecera{    
  display: flex;   
  text-align: justify;
  padding-left: 180px;
  padding-top: 40px;
  margin: 30px;
  font-family: "Quicksand", sans-serif;
  font-size: 72px;
  font-weight: 250;
  font-style: normal;
  color: rgb(255, 255, 255);  

}

.header-pic {
  margin:20px;
  height: 150px;
  width: 150px;
  pointer-events: none;    
}

.footer {
    
  background-color: #bde0fd;
  clear: both;
  color: #00155a;
  text-align: end;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding-right: 20px;
  margin-top: 20px;
}