 .cabecera {

    display: flex;
    background-color: rgb(218, 170, 250);
    /*background: linear-gradient(135deg, rgba(254,147,255,1) 0%, rgba(228,103,255,0.8071603641456583) 5%, rgba(174,108,255,1) 100%);*/
    height: 10%;


 }

 .logoclase {

    display: block;
    width: 14%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgb(218, 170, 250);


 }

 ubuntu1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 200;
    font-style: normal;

 }

 nav {
    background-color: rgb(134, 69, 255);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(58, 9, 121, 1) 35%, rgba(255, 0, 189, 0.6558998599439776) 100%);
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: rgb(255, 255, 255);
    width: 580px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;


 }

 nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

 }

 nav ul li {
    flex-grow: 1;
 }


 nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 3px;
    display: block;
    text-align: center;

 }

 nav ul li a:hover {

    background: linear-gradient(135deg, rgba(254, 147, 255, 0.5186449579831933) 0%, rgba(228, 103, 255, 0.5298494397759104) 5%, rgba(251, 166, 255, 0.5242471988795518) 100%);
    border-radius: 15px 0px 0px 15px;

 }

 nav ul li a.activo {
    background: linear-gradient(135deg, rgba(254, 147, 255, 0.5186449579831933) 0%, rgba(228, 103, 255, 0.5298494397759104) 5%, rgba(251, 166, 255, 0.5242471988795518) 100%);
    border-radius: 15px 0px 0px 15px;
 }

 main {
    max-width: 1440px;


 }

 footer {
    background-color: #bde0fd;
    clear: both;
    color: #00155a;
    text-align: end;
    font-size: 16px;
    padding-right: 20px;
    margin-top: 20px;
 }

 h1 {
    display: flex;
    width: 80%;
    font-family: "Quicksand", sans-serif;
    font-weight: 280;
    font-style: normal;
    font-size: 65px;
    color: rgb(148, 17, 255);
    /* padding-left: 20px;*/
    text-align: center;
    padding-top: 1%;
    padding-left: 10%;

 }

 h2 {
    display: flex;
    width: 80%;
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 55px;
    color: rgb(158, 39, 255);
    /* padding-left: 20px;*/
    text-align: center;
    padding-top: 1%;
    padding-left: 10%;
 }

 .nav4 {
    font-family: "Quicksand", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 22px;
    color: rgb(255, 255, 255);

    /* padding-left: 20px;*/

 }

 .nav3 {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: rgb(0, 0, 0);
 }

 .navp {
    font-family: "Quicksand", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 15px;
    color: rgb(0, 0, 0);
    margin-left: 10px;
    margin-right: 10px;



 }

 .holder {
    max-width: 1440px;
    margin: 0 auto;
 }

 .holder2 {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    margin: 0 auto;

 }

 .holder1 {
    display: flex;
    max-width: 1640px;
    justify-content: space-between;
    margin-left: 14%;


 }

 .columnas {
    display: flex;
    justify-content: space-between;
 }

 .claseimg {

    max-width: 1640px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
 }

 .parrafo1 {

    font-family: "Quicksand", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: justify;
 }

 .parrafo2 {

    font-family: "Quicksand", sans-serif;
    background: linear-gradient(180deg, rgba(147, 247, 255, 1) 0%, rgba(103, 249, 255, 0.8071603641456583) 5%, rgba(198, 237, 255, 0.42620798319327735) 100%);
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 15px;
    padding-bottom: 8px;
    border-radius: 10px;
    text-align: justify;
 }

 .parrafo3 {

    font-family: "Quicksand", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: justify;
 }

 .ilustrado {

    border: 3px;
    max-width: 22%;
    text-align: center;
    padding: 13px;


 }

 .ilustraciones {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;

 }

 .claseimground {
    border-radius: 50%;

 }

 .colecciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1235px;

 }

 .coleccion {
    display: flex;
    flex-direction: row;
    border: 3px;
    max-width: 95%;
    justify-content: space-between;
    text-align: justify;
    padding: 10px;
    background: linear-gradient(135deg, rgba(43, 255, 100, 0.5186449579831933) 0%, rgba(110, 255, 197, 0.47942927170868344) 5%, rgba(44, 208, 255, 0.5242471988795518) 100%);
    border-radius: 25px;
    box-shadow: 8px 8px 6px 0px #383838;
    margin: 8px;
 }

 .imgcolecc {
    border-radius: 15px;
    max-width: 240px;
 }

 .titcol {
    font-family: "Quicksand", sans-serif;
    justify-content: center;
    font-weight: 300;
    font-size: 30px;
    color: black;
    border-bottom: 2px solid #000000;
    padding-left: 15px;

 }

 .contactos {
    display: flex;
    background-color: rgb(179, 226, 253);
    width: 1235px;
    height: 540px;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 0px 0px 20px 20px;
 }

 .contacto01 {
    background-color: rgb(246, 185, 252);
    flex-direction: row;
    width: 49%;
    margin: 20px;
    align-content: flex-start;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgb(124, 124, 124);
 }

 .contacto02 {
    background-color: rgb(246, 185, 252);
    width: 49%;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgb(124, 124, 124);
 }


 .formulario p {
    display: flex;
 }

 .formulario p label {
    min-width: 80px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 8px;
    text-align: justify;
 }

 .formulario p input,
 .formulario p textarea {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    margin: 8px;
    margin-right: 15px;
    width: 100%;
    background-color: rgba(189, 160, 255, 0.616);
 }

 .p_textos {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
 }

.datos{
   margin-top: 80px;
}

 .datos ul li{
   font-family: "Quicksand", sans-serif;
   font-weight: 500;   
   padding-left: 20px;
   margin: 15px; 

}

 .formulario textarea {

    resize: none;
    height: 170px;

 }


 .formulario input[type="submit"] {
    background-color: rgb(179, 226, 253);
    position: relative;
    padding: 2px;
    width: 80px;
    margin-left: 110px;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0px rgb(94, 94, 94)
 }

 .formulario input[type="submit"]:hover{
   background-color: rgb(77, 190, 255);
 }

 .principal{
   display: flex;
   flex-direction: column;
   width: 1235px;
   
 }

 .claseimgrounded {
   border-radius: 35px;
   margin-left: 25px;

 }

   .formulario_compra p {
      display: flex;
   }
  
   .formulario_compra p label {
      min-width: 50px;
      margin-top: 10px;
      margin-left: 5px;
      margin-right: 1px;
      text-align: justify;
   }

   .formulario_compra p input,
   .formulario_compra p textarea {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      margin: 8px;
      margin-right: 15px;
      width: 200px;
      background-color: rgba(189, 160, 255, 0.616);
      resize: none;   
   }

   .formulario_compra input[type="submit"] {
      background-color: rgb(188, 160, 255);
      position: relative;
      padding: 2px;
      width: 80px;
      margin-left: 110px;
      border-radius: 6px;
      box-shadow: 5px 5px 2px 0px rgb(94, 94, 94)
   }

   .formulario_compra input[type="submit"]:hover{
      background-color: rgb(153, 112, 250);
    }



